<div class="row">        <!-- first two days -->
  <div class="col-md-12"> <!-- left column -->
    <table class="table table schedule table-striped" role="presentation">
  <tbody>
    
    <tr>
      <td></td>
      <td>Before starting</td>
      <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
    </tr>
    <tr>
      <td>09:00</td>
      <td>1. <a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Introducing the Shell</a></td>
      <td>What is a command shell and why would I use one?</td>
    </tr>
    <tr>
      <td>9:05</td>
      <td>2. <a href="https://swcarpentry.github.io/shell-novice/02-filedir.html">Navigating Files and Directories</a></td>
      <td>How can I move around on my computer?<br>How can I see what files and directories I have?<br>How can I specify the location of a file or directory on my computer?</td>
    </tr>
    <tr>
      <td>9:30</td>
      <td>3. <a href="https://swcarpentry.github.io/shell-novice/03-create.html">Working With Files and Directories</a></td>
      <td>Learn to create, copy, and delete files and directories and also edit files</td>
    </tr>
    <tr>
      <td>10:15</td>
      <td>4. <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter.html">Pipes and Filters</a></td>
      <td>Learn to combine existing commands to produce a desired output?<br>How can I show only part of the output?</td>
    </tr>
    <tr>
      <td>10:45</td>
      <td>5. <a href="https://swcarpentry.github.io/shell-novice/05-loop.html">Loop through files or directories</a></td>
      <td>How can I perform the same actions on many different files?</td>
    </tr>
    <tr>
      <td>11:00 </td>
      <td>6. <a href="https://swcarpentry.github.io/shell-novice/06-script.html">Create Shell Scripts</a></td>
      <td>How can I save and re-use commands?</td>
    </tr>
    <tr>
      <td>11:30 </td>
      <td>7. <a href="https://swcarpentry.github.io/shell-novice/07-find.html">Search and find files and content</a></td>
      <td>How can I find files?<br>How can I find things in files?</td>
    </tr>
     <tr>
       <td>11:50</td> 
       <td>Wrap-up</td>
      <td></td> 
     </tr>
    <tr>
      <td></td>
      <td>At the end</td>
      <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td>
    </tr>
    
  </tbody>
</table>

   
  </div>
  
</div>
