<div class="row">        <!-- first two days -->
  <div class="col-md-12"> <!-- left column -->
    <section id="schedule"><table class="table table schedule table-striped" role="presentation"><tbody><tr><td></td><td><a href="#setup">Setup Instructions</a></td><td> Download files required for the lesson</td>
          </tr>
 <tr> 
        <td></td>
   <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
<tr><td>
<span class="visually-hidden">Duration: </span>00h 00m
</td>
<td>
 1. <a href="01-intro.html">Introducing the Shell</a>
</td>
<td>
What is a command shell and why would I use one?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>00h 05m
</td>
<td>
 2. <a href="02-filedir.html">Navigating Files and Directories</a>
</td>
<td>
How can I move around on my computer?<br>How can I see what files and
directories I have?<br>How can I specify the location of a file or
directory on my computer?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>00h 45m
</td>
<td>
 3. <a href="03-create.html">Working With Files and Directories</a>
</td>
<td>
How can I create, copy, and delete files and directories?<br>How can I
edit files?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>01h 35m
</td>
<td>
 4. <a href="04-pipefilter.html">Pipes and Filters</a>
</td>
<td>
How can I combine existing commands to produce a desired output?<br>How
can I show only part of the output?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>02h 10m
</td>
<td>
 5. <a href="05-loop.html">Loops</a>
</td>
<td>
How can I perform the same actions on many different files?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>03h 00m
</td>
<td>
 6. <a href="06-script.html">Shell Scripts</a>
</td>
<td>
How can I save and re-use commands?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>03h 45m
</td>
<td>
 7. <a href="07-find.html">Finding Things</a>
</td>
<td>
How can I find files?<br>How can I find things in files?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>04h 30m
</td>
<td>
Finish
</td>
<td>
</td>
</tr></tbody></table><p>
      The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
      </p>
      </section>
  </div>
  
</div>
